useDynLib(TEKRABber, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(dplyr)
import(ggplot2)
import(ggpubr)
import(shiny)
importFrom("stats", "coef", "p.adjust")
importFrom("utils", "write.table")